:root{
    --font-family: "IranYekan" , "Aldhabi" /* فونت پیشفرض*/;
    --primary: #2f415d /* رنگ اصلی */;
    --btn-hover: #e96f84 /* رنگ هاور */;
    --btn-font-color: #fff ;
    --header-bg: #f8f8fa /*رنگ پس زمینه هدر*/;
    --bg-background: #fff /*رنگ پس زمینه*/;
    --header-color: #000 /*رنگ عناوین*/;

    --footer-bg: #020202 /* رنگ دوم */;
}
